<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Partials to hold the contents in the head tag -->
    <% include partials/head %>
</head>
<body>
<nav class="navbar" style="margin-bottom: 0;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand poker" style="color: black !important;" href="/">POKERINTEL</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
       <li><a href="/user/<%= username %>/session/new" style="color: black; font-size: 18px; font-weight: 600; background-color: white !important">Add New Session</a></li>
        <li><a href="/user/<%= username %>/session/list" style="color: black; font-size: 18px; font-weight: 600; background-color: white !important">View Session</a></li>
      </ul>
    </div>
  </div>
</nav>
 
<div class="jumbotron jumbo">
    <h2 class="text-center" style="font-size:70px; font-weight: 600;">Welcome <%= username %></h2>
    <h4 class="text-center" style="font-size: 30px;">(View Your profile)</h4>
</div>
  
<div class="container rowData">
    <br>
    <h1 class="text-center"><%= username %>'s Profile</h1>
    <br>
    
    <div class="row" style="border: 1px solid #e7e7e7;">
        <div class="col-sm-4" style="margin-top:20px;">
            <div class="form-group">
                <img src='http://placehold.it/200x200' style='margin-left: 40px'>
            </div>
        </div>
        
        <div class="col-sm-8" style="margin-top:20px;">
            <div class="row form-group">
                <label class='control-label col-sm-3'>Total Profit:</label>
                <div class='col-sm-9'><%=  %></div><br><br>
                
                <label class='control-label col-sm-3'>Total Play:</label>
                <div class='col-sm-9'><%=  %></div><br><br>
            </div>
        </div>
    </div>
    
</div>


<!-- Partials to hold the javascript links -->
<% include partials/scripts %>  
</body>
</html>