<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Partials to hold the contents in the head tag -->
    <% include partials/head %>
</head>
<body>
<nav class="navbar navbar-default" style="background-color: #19aff5;">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand poker" href="/">POKERINTEL</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <li><a href="/user/<%= sessions.username %>" class="" style="color: white; background-color:#19aff5; font-size: 18px; font-weight: 600;">View Profile</a></li>
       <li><a href="/user/<%=  %>/session/new" class="" style="color: white; background-color:#19aff5; font-size: 18px; font-weight: 600;">Add New Session</a></li>
      </ul>
    </div>
  </div>
</nav>
 
  
<div class="container">
    
    <div class="row" style="background-color:white; width:100%;">
      <h1>
<!--          Username-->
      </h1>
       <table class="table table-bordered table-hover" style="">
          <thead>
              <tr>
                 <th>Venue</th>
                 <th>Variant</th>
                 <th>Buy In</th>
                 <th>Cash Out</th>
                 <th>Start Time</th>
                 <th>End Time</th>
                 <th>Total Profit</th>
                 <th>Duration</th>
                    
              </tr>
          </thead>
          
          <tbody>
              <!-- WE WILL HAVE THE VALUES DISPLAYED HERE with <tr><td></td></tr> -->
              
              <% for(var i=0; i<sessions.length; i++) {%>  
                    <tr>
                        <td><%= sessions[i].venue %></td>
                        <td><%= sessions[i].variant %></td>
                        <td><%= sessions[i].buyin %></td>
                        <td><%= sessions[i].cashout %></td>
                        <td><%= sessions[i].start %></td>
                        <td><%= sessions[i].end %></td>
                        <td><%= sessions[i].profit %></td>
                        <td><%= sessions[i].duration %></td>
                    </tr>
			                  
			  <% } %>
              
              
          </tbody>
           
       </table>
        
    </div>
    
</div>


<!-- Partials to hold the javascript links -->
<% include partials/scripts %>  
</body>
</html>