<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Partials to hold the contents in the head tag -->
    <% include partials/head %>
</head>
<body>
<% include partials/header %>
 
  
<div class="container">
    
    <div class="row" style="background-color:white; width:100%;">
      <h1> <%= username %>'s session summary </h1>

        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <form action="/user/<%= username %>/session/new" method="GET">
                    <button id='sessionbutton' class="btn btn-success btn-lg" type="submit">Add a session</button>
                </form>
            </div>

            <div class="col-xs-12 col-sm-3">
                <form action="/user/<%= username %>" method="GET">
                    <button class="btn btn-success btn-lg" type="submit">View your profile</button>
                </form>
            </div>

        </div>

      <br>

       <table class="table table-bordered table-hover" style="">
          <thead>
              <tr>
                 <th>Venue</th>
                 <th>Variant</th>
                 <th>Blinds</th>
                 <th>Buy In</th>
                 <th>Cash Out</th>
                 <th>Start Time</th>
                 <th>End Time</th>
                 <th>Total Profit</th>
                 <th>Duration (hrs)</th>
                    
              </tr>
          </thead>
          
          <tbody>
              <!-- WE WILL HAVE THE VALUES DISPLAYED HERE with <tr><td></td></tr> -->
              
              <% for(var i=0; i<sessions.length; i++) {%>  
                    <tr>
                        <td><%= sessions[i].venue %></td>
                        <td><%= sessions[i].variant %></td>
                        <td><%= sessions[i].blinds %></td>
                        <td><%= sessions[i].buyin %></td>
                        <td><%= sessions[i].cashout %></td>
                        <td><%= sessions[i].start %></td>
                        <td><%= sessions[i].end %></td>
                        <td><%= sessions[i].profit %></td>
                        <td><%= sessions[i].duration %></td>
                    </tr>
			                  
			  <% } %>
              
              
          </tbody>
           
       </table>
        
    </div>
    
</div>


<!-- Partials to hold the javascript links -->
<% include partials/scripts %>  
<% include partials/footer.ejs %> 
</body>
</html>